export HSA_OVERRIDE_GFX_VERSION=10.3.0
export ROCM_PATH=/run/current-system/sw
export HIP_PATH=/run/current-system/sw
export HSA_ENABLE_SDMA=0
export PYTORCH_ROCM_ARCH=gfx1030
export TF_ROCM_AMDGPU_TARGETS=gfx1030
export LD_LIBRARY_PATH=$NIX_LD_LIBRARY_PATH
